.Divisor {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  text-shadow: 4px 4px 5px #eeeaea93;
  font-family: "Cinzel", serif;
  letter-spacing: 1rem;
  color: rgba(218, 141, 7, 0.728);
  line-height: 2rem;
  text-transform: uppercase;
  font-weight: 900;
}

.Divisor::after,
.Divisor::before {
  content: "";
  border: 0.2rem solid #18e8c23b;
  border-radius: 20rem;
  flex: 1;
}

.Divisor:not(:empty)::before {
  margin-right: 4em;
}
.Divisor:not(:empty)::after {
  margin-left: 4em;
}
@media (max-width:767px){
  .Divisor{
    font-size: 1.5rem;
    margin-top: 80px;
    margin-bottom: 55px;

  }
  
.Divisor::after,
.Divisor::before {
  content: "";
  border: 0.3rem solid #18e8c23b;
  background-color: #e818835f;
  border-radius: 50rem;
  flex: 1;
}

.Divisor:not(:empty)::before {
  margin-right: 2em;
}
.Divisor:not(:empty)::after {
  margin-left: 2em;
}
}