body {
  background-color: bisque;
}

.containerCantaoApi {
  background-color: bisque;
}
.containerPdts {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  flex-wrap: wrap;
  max-width: 1500px;
  margin: 0 auto;
}
.image {
  width: 13rem;
  border-radius: 1rem;
  margin: 1rem 0rem 0.5rem 1rem;
  
}
.pdtsUl,
h4 {
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1rem ;
  color:rgb(221, 151, 20);
  font-weight: 700;
  text-transform:initial;
}
.paragrafer{
  color:rgb(24, 23, 24);
  margin: 0.2rem 0;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem ;
}
.pdtsUl{
  height: 25rem;
  width:15rem;
  background-color: rgba(255, 255, 255, 0.416);
  border:2rem double rgba(31, 1, 23, 0.292);
}
@media (max-width:767px){
  body{
    overflow:  hidden scroll;
  }
  .containerPdts {
    display: flex;
    justify-content: column;
    justify-content: center;
    align-items: center;
    width:20rem;
    
    
    
  }

}